.root-layout {
    -fx-background-image: url("../img/blue.jpg");
}

.spinner{
    -fx-background-color: #b65243;
    -fx-border-color: #383db6;
}

.label{
    -textFont-color: #f9ff4c;
    -fx-text-fill:-textFont-color;
}

.led {

    -textFont-color: #ffff66;
    -fx-font-size: 12pt;
    -fx-font-weight: 300;
    -fx-font-family: "Arial";
    -fx-text-fill: -textFont-color;

    -fx-background-image: url("../img/LED-off.png");
    -fx-background-size: stretch;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.8;
}

.led:disabled{
    -fx-background-image: url("../img/LED-disable.png");
    -fx-background-size: stretch;
    -fx-opacity: 1;
}

.led .ledBlink-on{
    -fx-background-image: url("../img/LED-on.png");
    -fx-background-size: stretch;
    -fx-opacity: 1;
}

.led:hover{

    -fx-opacity: 1;
}

.led:focused{

    -fx-opacity: 1;
}

.ledBlink-on{
    -fx-background-image: url("../img/LED-on.png");
    -fx-background-size: stretch;
    -fx-opacity: 1;
}

.ledBlink-on:disabled{
    -fx-background-image: url("../img/LED-on.png");
    -fx-background-size: stretch;
    -fx-opacity: 1;
}

.ledBlink-off{
    -fx-background-image: url("../img/LED-off.png");
    -fx-background-size: stretch;
    -fx-opacity: 1;
}

.ledBlink-disable{
    -fx-background-image: url("../img/LED-disable.png");
    -fx-background-size: stretch;
    -fx-opacity: 1;
}

.leftArrow-button{

    -fx-background-image: url("../img/left_arrow_green.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.5;
}

.leftArrow-button:hover{

    -fx-opacity: 0.8;

}

.leftArrow-button:focused{

    -fx-opacity: 0.8;
}

.leftArrow-button:armed{

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.leftArrow-button:selected{


    -fx-opacity: 1;
}


.leftArrow-button:disabled{

    -fx-opacity: 0.5;
}

/***************
*rightArrow-button
****************/


.rightArrow-button{

    -fx-background-image: url("../img/right_arrow_green.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.5;

}

.rightArrow-button:hover{

    -fx-opacity: 0.8;

}

.rightArrow-button:focused{

    -fx-opacity: 0.8;
}

.rightArrow-button:armed{

    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.rightArrow-button:selected{


    -fx-opacity: 1;
}


.rightArrow-button:disabled{

    -fx-opacity: 0.5;
}

.switcher{

    -fx-background-image: url("../img/switcher_off.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.8;
}

.switcher:hover{

    -fx-opacity: 1;
}

.switcher:focused{

    -fx-opacity: 1;
}

.switcher:armed{

    -fx-background-image: url("../img/switcher_on.png");
    -fx-opacity: 1;
}

.switcher:selected{

    -fx-background-image: url("../img/switcher_on.png");
    -fx-opacity: 1;
}

.switcher:disabled{
    -fx-background-image: url("../img/switcher_disabled.png");
}

.pump-button{

    -fx-background-image: url("../img/pump_button-off.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.8;
}

.pump-button:hover{

    -fx-opacity: 1;
}

.pump-button:focused{

    -fx-opacity: 1;
}

.pump-button:armed{

    -fx-opacity: 1;
}

.pump-button:selected{

    -fx-opacity: 1;
}


.pump-button-on{

    -fx-background-image: url("../img/pump_button-on.png");
    -fx-opacity: 1;
}

.pump-button-off{

    -fx-background-image: url("../img/pump_button-off.png");
    -fx-opacity: 1;
}

.cooler{

    -fx-background-image: url("../img/pump_button-off.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 0.8;
}

.cooler:hover{

    -fx-opacity: 1;
}

.cooler:focused{

    -fx-opacity: 1;
}

.cooler:armed{

    -fx-background-image: url("../img/pump_button-on.png");
}

.cooler:selected{

    -fx-background-image: url("../img/pump_button-on.png");
    -fx-opacity: 1;
}

.progress-bar {
    -border-color: #4d2600;
    -fx-background-color: transparent;
    -fx-border-color: -border-color;
    -fx-border-radius: 5, 5, 5, 5;
}

.green-bar  { -fx-accent: green;  }


.progress-bar .track{
    -background-color: #1f1f2e;
    -fx-background-color: -background-color;
}

.progress-bar-narrow > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}

.progress-bar .bar {
    -progressBar-color: #254d74;
    -fx-background-color: -progressBar-color;
    -fx-opacity: 0.8;
}

.green-progress-bar .bar {
    -progressBar-color: #009933;
    -fx-background-color: -progressBar-color;
    -fx-opacity: 0.8;
}

.yellow-progress-bar .bar {
    -progressBar-color: #e6e600;
    -fx-background-color: -progressBar-color;
    -fx-opacity: 0.8;
}

.red-progress-bar .bar {
    -progressBar-color: #ff3300;
    -fx-background-color: -progressBar-color;
    -fx-opacity: 0.8;
}

.orange-progress-bar .bar {
    -progressBar-color: #e59400;
    -fx-background-color: -progressBar-color;
    -fx-opacity: 0.8;
}

.oil-bar {
    -border-color: #a3c2c2;
    -fx-border-width: 4px;
    -fx-background-color: transparent;
    -fx-border-color: -border-color;
    -fx-border-radius: 5, 5, 5, 5;
}

.oil-bar .track{
    -background-color: #1f1f2e;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-background-color: -background-color;
}

.oil-bar .bar {
    -progressBar-color: #009933;
    -fx-background-color: -progressBar-color;
    -fx-opacity: 0.8;

}

.green-oil-bar {
    -border-color: #a3c2c2;
    -fx-border-width: 4px;
    -fx-background-color: transparent;
    -fx-border-color: -border-color;
    -fx-border-radius: 5, 5, 5, 5;
}

.green-oil-bar .bar {

    -progressBar-color: #009933;
    -fx-background-color: -progressBar-color;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-opacity: 0.8;

}

.green-oil-bar .track{
    -background-color: #1f1f2e;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-background-color: -background-color;
}


.yellow-oil-bar {
    -border-color: #a3c2c2;
    -fx-border-width: 4px;
    -fx-background-color: transparent;
    -fx-border-color: -border-color;
    -fx-border-radius: 5, 5, 5, 5;
}


.yellow-oil-bar .track{
    -background-color: #1f1f2e;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-background-color: -background-color;
}

.yellow-oil-bar .bar {

    -progressBar-color: #e6e600;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-background-color: -progressBar-color;
    -fx-opacity: 0.8;

}

.red-oil-bar {
    -border-color: #a3c2c2;
    -fx-border-width: 4px;
    -fx-background-color: transparent;
    -fx-border-color: -border-color;
    -fx-border-radius: 5, 5, 5, 5;
}

.red-oil-bar .track{
    -background-color: #1f1f2e;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-background-color: -background-color;
}

.red-oil-bar .bar {

    -progressBar-color: #ff3300;
    -fx-background-color: -progressBar-color;
    -fx-opacity: 0.8;}

.button-power{

    -fx-background-image: url("../img/powerbutton-off.png");
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-background-repeat: stretch, stretch;
    -fx-background-size: stretch;
    -fx-opacity: 0.8;
}
.button-power:armed{

    -fx-background-image: url("../img/powerbutton-on.png");
    -fx-background-repeat: stretch;
    -fx-opacity: 1;
}

.button-power:selected{

    -fx-background-image: url("../img/powerbutton-on.png");
    -fx-background-repeat: stretch;
    -fx-opacity: 1;
}

.button-power:hover{

    -fx-opacity: 1;
}

.button-power:disabled{

    -fx-background-image: url("../img/powerbutton-off.png");
    -fx-opacity: 0.8;
}

.button-power-orange{
    -fx-background-image: url("../img/powerbutton-orange.png");
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-background-repeat: stretch, stretch;
    -fx-background-size: stretch;
    -fx-opacity: 0.8;

}