#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/sisu/GUI/stardexLogo.png
Name[en_US]=SISU
Exec=/usr/lib/jvm/jdk-11.0.1/bin/java -jar /opt/sisu/GUI/sisu.jar
Name=SISU
Icon=/opt/sisu/GUI/stardexLogo.png
