#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/avangard/GUI/merlinLogo.png
Name[en_US]=Merlin_Flow_Meter
Exec=java -jar /opt/avangard/GUI/merlin.jar
Name=SISU_CR
Icon=/opt/avangard/GUI/merlinLogo.png
